
@import "vars";
@import "header";


//Load Libs SASS
@import "../app/libs/owl.carousel/src/scss/owl.carousel.scss";
@import "../app/libs/pushy/scss/pushy.scss";
@import "../app/libs/components-font-awesome/scss/font-awesome.scss";


//Custom Styles Here

.main_slider {
  position: relative;
  .item {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 97%,74% 100%,0 97%);
    max-height: 605px;
    img {
      // margin-bottom: -65px;
    }
    .caption {
      position: absolute;
      width: 100%;
      top:36%;
      left: 15%;
      .title {
        color: #6d417c;
        font-family: $BebasBold;
        font-size: 72px;
        line-height: 64px;
        text-transform: uppercase;
        letter-spacing: -1.88px;
        margin:0;
      }
      .text {
        color: #0a1e28;
        font-family: $RobotoRegular;
        font-size: 24px;
        line-height: 32px;
        display: block;
        padding-bottom: 35px;
      }
      .btn {
        min-width: 175px;
        height: 50px;
        border-radius: 6px;
        border: 2px solid #0a1e28;
        color: #0a1e28;
        font-family: $RobotoBold;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: -0.48px;
        padding:0;
        outline:none;
        @include transition(0.5s);
        &:hover {
          background-color: #6d417c;
          color: #fff;
          border-color: #6d417c;
        }
      }
    }
    .container {
      position: relative;
    }
  }
  .owl-nav {
    position: absolute;
    width:100%;
    top:48%;
    left:0;
    .owl-prev, .owl-next {
      width: 72px;
      height: 72px;
      background-color: rgba(255, 255, 255, 0.7);
      font-size:0;
      position: absolute;
      line-height:72px;
      text-align: center;
      @include transition(0.3s);
      &:hover {
        background-color: #fff;
      }
    }
    .owl-prev {
      left:0;
      &:before {
        content: "\f053";
        font-family: "FontAwesome";
        color: #0a1e28;
        font-size: 42px;
      }
    }
    .owl-next {
      right:0;
      &:before {
        content: "\f054";
        font-family: "FontAwesome";
        color: #0a1e28;
        font-size: 42px;
      }
    }
  }
}
.news_slider {
  background-color: #ededed;
  padding:55px 0 70px;
  position: relative;
  &:after {
    content: "NEWS";
    color: #d8dde0;
    font-family: $BebasBold;
    font-size: 326px;
    text-transform: uppercase;
    position: absolute;
    right: 6%;
    z-index: -1;
    bottom: -230px;
  }
  .date {
    color: #434242;
    font-family: $RobotoRegular;
    font-size: 18px;
  }
  .title {
    color: #6d417c;
    font-family: $BebasBold;
    font-size: 48px;
    &:hover {
      color: #543260;
    }
  }
  .text {
    color: #666666;
    font-family: $RobotoRegular;
    font-size: 18px;
    line-height: 24px;
  }
  .more {
    color: #6d417c;
    font-family: $RobotoBold;
    font-size: 18px;
    margin-top:20px;
    float: right;
    text-decoration: none;
    .icon {
      color: #6d417c;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
    }
    &:hover {
      color: #543260;
    }
  }
  .owl-nav {
    position: absolute;
    width:100%;
    top:33%;
    left:0;
    .owl-prev, .owl-next {
      width: 108px;
      height: 108px;
      font-size:0;
      position: absolute;
      line-height:108px;
      text-align: center;
      background-color: #fff;
      @include transition(0.3s);
      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
    .owl-prev {
      left:0;
      &:before {
        content: "\f053";
        font-family: "FontAwesome";
        color: #0a1e28;
        font-size: 52px;
      }
    }
    .owl-next {
      right:0;
      &:before {
        content: "\f054";
        font-family: "FontAwesome";
        color: #0a1e28;
        font-size: 52px;
      }
    }
  }
  .owl-dots {
    position: absolute;
    bottom:18px;
    width: 100%;
    display: flex;
    justify-content: center;
    .owl-dot {
      width: 13px;
      height: 13px;
      background-color: #b2b09b;
      border-radius: 50%;
      margin:0 7px;
      &.active {
        background-color: #6d417c;
      }
    }
  }
}
.inform_list {
  min-height: 520px;
  background: linear-gradient(to right, #6d417c 50%, #1b526d 50%);
  margin-top:-160px;
  .list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    .box {
      min-height: 570px;
      width: 25%;
	  position: relative;
      a {
        display: block;
        text-decoration: none;
      }
      &:hover > .img {
        opacity:0.2 !important;
      }
	  & > .img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.2;
		position: absolute;
		width: 100%;
		height: 100%;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	  }
	  a {
		padding: 245px 15px 0;
		text-decoration: none;
		display: block;
		position: relative;
	  }
      * {
        color: #fff;
      }
      &:first-child {
        button {
          &:hover {
            color: #6d417c;
          }
        }
      }
      &:nth-child(2) {
        button {
          &:hover {
            color: #1cbfa2;
          }
        }
      }
      &:nth-child(3) {
        button {
          &:hover {
            color: #da8c30;
          }
        }
      }
      &:nth-child(4) {
        button {
          &:hover {
            color: #1b526d;
          }
        }
      }
      .name {
        font-family: $BebasBold;
        font-size: 38px;
        line-height: 36px;
        letter-spacing: -0.76px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom:-5px;
          height:1px;
          background-color: #fff;
          width:160px;
          left:50%;
          margin-left:-80px;
        }
      }
      .text {
        font-family: $RobotoLight;
        font-size: 18px;
        line-height: 24px;
        padding:20px 0 50px;
      }
      button {
        outline:none;
        min-width: 191px;
        height: 53px;
        border-radius: 6px;
        border: 2px solid #ffffff;
        font-family: $BebasBold;
        font-size: 32px;
        padding:0;
        @include transition(0.3s);
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
.our_block {
  background-color: #201f1b;
  padding: 222px 0 195px;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    height:370px;
    width:1px;
    background-color: #d1d1d1;
    position: absolute;
    left:50%;
    margin-left:-0.5px;
    margin-top: -185px;
    top: 50%;
  }
  &-list {
    display: flex;
    justify-content:space-around;
    li {
      list-style: none;
      width:40%;
      text-align: center;
      color: #fff;
      .title {
        font-family: $RobotoBold;
        font-size: 54px;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: -0.84px;
      }
      .text {
        font-family: $RobotoRegular;
        font-size: 16px;
        line-height: 24px;
        padding-top:20px;
        padding-bottom:25px;
      }
      .btn {
        min-width: 191px;
        height: 53px;
        border-radius: 6px;
        background-color: #3c2861;
        font-family: $RobotoBold;
        font-size: 24px;
        line-height:53px;
        padding:0;
        color: #fff;
        @include transition(0.5s);
        &:hover {
          background-color: #9c5db2;
        }
      }
    }
  }
}
.video_blocks {
  display: flex;
  justify-content:space-between;
  height: 782px;
  margin:30px 0;
  .banner {
    background-image: url('../img/big-photo.png');
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    width:45%;
    position: relative;
    .caption {
      background: rgba( 0, 0, 0, 0.7);
      padding: 70px 50px;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 630px;
      .title {
        color: #ffffff;
        font-family:$BebasBold;
        font-size: 56px;
        line-height: 58px;
        @include transition(0.2s);
      }
      .text {
        color: #ffffff;
        font-family: $RobotoRegular;
        font-size: 18px;
        line-height: 24px;
      }
    }
    &:hover {
      .title {
        color: #9c5db2;
      }
    }
  }
  .video-block {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 75%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 0;
  }
  .video {
    width:53.5%;
    height:100%;
    position: relative;
    .start-video {
      display: block;
      width:100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
    }
    .thumbnail_container {
      width:100%;
      height:100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      border: none;
      margin: 0;
      padding: 0;
      width:100%;
    }
    iframe {
      height:100%;
      width:100%;
      object-fit: cover;
    }
  }
}
.validation-summary-errors{
	color: red;
}
.instagram {
  display: flex;
  justify-content:flex-end;
  margin-top:50px;
  overflow: hidden;
  padding-bottom:15px;
  flex-wrap: wrap;
  &_text {
    color: #652480;
    font-family: $RobotoBold;
    font-size: 26px;
    padding-top:15px;
    display: block;
  }
  .item {
    width: 360px;
    margin: 0 0.8%;
    box-shadow: 0 0 8px 1px rgba(30, 28, 25, 0.2);
    background-color: #ffffff;
    margin-bottom:20px;
    &:first-child {
      box-shadow: none;
      background: none;
    }
    //&:last-child {
    //  margin-right:-7.3%;
    //}
    .img {
      width:100%;
      height: 360px;
      img {
        width:100%;
        height:100%;
        object-fit: cover;
      }
    }
    .desc {
      padding:15px;
      .date {
        opacity: 0.8;
        color: #999999;
        font-family: $RobotoBold;
        font-size: 16px;
      }
      .text {
        color: #666666;
        font-family: $RobotoRegular;
        font-size: 18px;
        line-height: 24px;
        padding: 10px 0 25px 0;
      }
      .buttons {
        .txt {
          color: #999999;
          font-family: $RobotoBold;
          font-size: 16px;
          padding-left:5px;
        }
        i {
          color: #999999;
          font-size: 18px;
        }
        .like, .comment, .share {
          display: inline-block;
        }
        .comment {
          margin-left:7%;
        }
        .share {
          margin-left:15%;
        }
      }
    }
  }
}
.footer {
  .contact_us {
    padding:90px 0;
    background-color: #22211d;
    background-image: url('../img/contact-us-bg.png');
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:100px;
    .title {
      color: #6d417c;
      font-family: $BebasBold;
      font-size: 56px;
    }
    input,textarea {
      border-radius: 6px;
      border: 2px solid #652480;
      background-color: #d3d3d2;
      padding:15px;
      width:100%;
      margin-bottom:18px;
      &:focus {
        background-color: #fff;
      }
    }
    input::-webkit-input-placeholder {
      color: #666666;
      font-family: $RobotoRegular;
      font-size: 18px;
    }
    textarea::-webkit-input-placeholder {
      color: #666666;
      font-family: $RobotoLight;
      font-size: 18px;
    }
    textarea {
      height: 218px;
      outline:none;
      resize: none;
    }
    button {
      width: 164px;
      height: 53px;
      line-height:53px;
      border-radius: 6px;
      background-color: #652480;
      color: #ffffff;
      font-family: $RobotoRegular;
      font-size: 24px;
      text-transform: uppercase;
      float: right;
      margin-top:20px;
      @include transition(0.4s);
      .icon {
        color: #ffffff;
        font-size: 36px;
        vertical-align: top;
        line-height:normal;
        padding-left:5px;
        display: inline-block;
      }
      &:hover {
        background-color: #8e52a4;
      }
    }
    .follow_us {
      margin-top:25px;
      .txt {
        color: #666666;
        font-family: $RobotoBold;
        font-size: 24px;
        display: inline-block;
        vertical-align: super;
      }
      &_facebook {
        color: #5771a6;
        font-size: 46px;
        margin: 0 20px;
      }
      &_instagram {
        color: #6d417c;
        font-size: 46px;
      }
    }
  }
  .tel {
    display: flex;
    align-items: center;
    .icon {
      color: #43aa8b;
      font-size: 48px;
    }
    .num {
      color: #43aa8b;
      font-family: $RobotoRegular;
      font-size: 24px;
      letter-spacing: 2.4px;
      padding-left:20px;
    }
  }
  .location {
    display: flex;
    align-items: center;
    margin-top:10px;
    .icon {
      color: #a80464;
      font-size: 48px;
      display: flex;
      align-items: center;
    }
    .txt {
      color: #a80464;
      font-family: $RobotoRegular;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      padding-left:35px;
    }
  }
  .map {
    width:100%;
    height: 145px;
    margin-top:40px;
  }
  &_bottom {
    background-color: #161513;
    padding:5px 0;
    &_social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 36px;
      margin-right:20px;
      &_facebook {
        color: #5771a6;
      }
      &_instagram {
        color: #6d417c;
      }
    }
    .copyright {
      color: #57236c;
      font-family: $RobotoRegular;
      font-size: 14px;
    }
  }
}
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 33px;
  height: 44px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  float: right;
}

.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0;
  height: 2px;
  background: #6d417c;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6d417c;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}
.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* активное состояние, т.е. меню открыто */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: -2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #cccccc;
  height:4px;
  width:60%;
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #cccccc;
  height:4px;
  width:60%;
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.mob-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 115px;
  z-index: 99;
  width: 100%;
  margin:0;
  &-nav {
    background-color: #201f1b;
    padding:20px 0;
    margin:0;
    dl {
      list-style: none;
      margin:0;
      &:active {
        background-color: #060605;
      }
      a {
        color: #cccccc;
        font-family: $RobotoRegular;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding:8px 20px;
      }
      .icon {
        color: #cccccc;
        font-size: 23px;
        padding:0 20px;
        @include transition(0.2s);
      }
      dt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.active {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
    dd {
      background-color: #673e75;
      padding: 12px 0;
      margin-bottom:15px;
      a {
        color: #cccccc;
        font-size: 16px;
        padding: 5px 40px;
        text-transform: none;
      }
    }
  }
  .sign {
    background-color: #181714;
    padding:10px 20px;
    margin:0;
    li {
      list-style: none;
      a {
        display: block;
        color: #cccccc;
        font-family: $RobotoRegular;
        font-size: 16px;
        padding:5px 0;
      }
    }
    .icon {
      color: #6d417c;
      font-size: 18px;
      margin-right:8px;
    }
  }
  &-search {
    position: relative;
    input {
      padding: 12px 20px 12px 60px;
      background-color: #000000;
      width:100%;
      color: #fff;
    }
    &:after {
      content: "\f002";
      position: absolute;
      top: 5px;
      left: 20px;
      color: #6d417c;
      font-family: "FontAwesome";
      font-size: 24px;
    }
  }
  .accordeon {
    dt {

    }
    dl {

    }
    dd {

    }
  }
}
//ALWAYS END
@import "media.scss";
