@media (max-width: 1199px) {
  header .header_top .right {
    justify-content:flex-end;
  }
  header .header_top .top_call {
    padding-left:5px;
  }
  .services_list .box {
    width:50%;
    margin-bottom:30px;
  }
  .testimonials_slider .item {
    max-width: 350px;
  }
  .footer_contact li:last-child {
    text-align: left;
  }
  .services_list .box:nth-child(4) .desc, .services_list .box:nth-child(5) .desc, .services_list .box:nth-child(6) .desc {
    order:1;
  }
  .services_list .box:nth-child(4) .img, .services_list .box:nth-child(5) .img, .services_list .box:nth-child(6) .img {
    order:2;
  }
}
@media (max-width: 991px) {
  header .header_bottom .logo {
    margin-bottom:15px;
  }
  header .header_bottom .buttons .top_btn {
    width:170px;
  }
  .main_slider .item .caption {
    bottom:200px;
    padding-right:15px;
  }
  .banner .title {
    font-size:44px;
  }
  .banner {
    padding: 15px 15px 40px;
    margin: 100px 0 100px;
  }
  .testimonials_slider .item {
    max-width: none;
  }
  .footer .logo {
    margin-bottom:30px;
  }
  .single_services .block_text-top {
    margin-bottom: 0;
  }
  .single_services .block_text-bottom {
    margin-top: 0;
  }
  .single_services .big_img {
    height:auto;
  }
}
@media (max-width: 767px) {
  header .header_top .right {
    justify-content:space-between;
  }
  header .header_bottom .buttons .top_btn {
    width: 130px;
    height: 40px;
    line-height:35px;
    font-size:14px;
  }
  .main_slider .item .caption {
    bottom:100px;
  }
  .main_slider .owl-item img {
    height:80vh;
    object-fit: cover;
  }
  .main_slider .item .caption .title {
    font-size:38px;
  }
  .services_list .box {
    width:100%;
  }
  .services .more_btn {
    margin: 70px auto 0;
  }
  .banner .title {
    font-size: 44px;
    line-height: 48px;
  }
  .banner {
    padding: 70px 15px 40px;
    background-image: none;
  }
  .banner .txt {
    width:100%;
  }
  .banner .btn {
    margin: 35px auto 0;
    font-size: 24px;
    padding: 8px 75px;
  }
  .testimonials_slider.owl-carousel, .equipment_slider.owl-carousel {
    padding:0 40px;
  }
  .testimonials_slider .item .txt, .equipment_slider .item .txt {
    font-size:12px;
  }
  .testimonials_slider .item .name, .equipment_slider .item .name {
    font-size:14px;
  }
  .testimonials_slider .owl-next:before, .testimonials_slider .owl-prev:before, .equipment_slider .owl-next:before, .equipment_slider .owl-prev:before {
    font-size: 55px;
  }
  .testimonials_slider .owl-next, .testimonials_slider .owl-prev {
    top: 35%;
  }
  .equipment_slider .owl-next, .equipment_slider .owl-prev {
    top:0;
  }
  .testimonials_slider .owl-prev, .equipment_slider .owl-prev {
    left: 10px;
  }
  .testimonials_slider .owl-next, .equipment_slider .owl-next {
    right: 10px;
  }
  .footer .footer_menu {
    text-align: center;
  }
  .footer .footer_contact {
    text-align: center;
    margin-top:35px;
  }
  .footer_contact li:last-child {
    text-align: center;
  }
  .main_slider .item .caption .btn {
    min-width: 220px;
    height: 55px;
    line-height: 50px;
    font-size: 22px;
  }
  header .header_bottom .buttons {
    align-items: center;
  }
  header .header_bottom .buttons .top_btn:first-child {
    margin-bottom:10px;
  }
  .menu-btn {
    color: #fff;
    font-size: 34px;
  }
  .single_services .block_text {
    padding:15px;
  }
  .single_services .big_img {
    height: 250px;
  }
  .article .desc {
    padding:0;
    font-size: 14px;
  }
  .article-content {
    padding:15px;
  }
  .article .img .title {
    padding: 15px;
    font-size: 34px;
  }
  .article .img {
    height:300px;
  }
  .services .text_top {
    margin-bottom: 50px;
  }
  .accordeon dt .icon {
    padding-left: 10px;
    font-size: 20px;
  }
  .accordeon dt {
    font-size: 16px;
    padding: 15px 0;
  }
  .accordeon dt p {
    padding-left: 20px;
  }
  .accordeon dd .txt {
    font-size: 14px;
  }
  .about .top_blocks {
    flex-wrap:wrap;
    flex-direction:column;
  }
  .about .top_blocks .img {
    width:100%;
  }
  .about .top_blocks:nth-child(odd) .img {
    order:1;
  }
  .about .top_blocks .desc {
    padding-top: 25px;
    width:100%;
    order: 2;
  }
}

@media (max-width: 500px) {

}