
$RobotoRegular:"RobotoRegular", sans-serif;
$RobotoBold:"RobotoBold", sans-serif;
$RobotoLight:"RobotoLight", sans-serif;
$RobotoMedium:"RobotoMedium", sans-serif;
$BebasRegular:"BebasRegular", sans-serif;
$BebasBold:"BebasBold", sans-serif;
$BebasLight:"BebasLight", sans-serif;
$BebasThin:"BebasThin", sans-serif;


@mixin transition($speed) {
  transition: ease $speed;
}

